#add_to_wallet{
    background-color: rgb(235, 25, 25);
    color: white;
    font-size: 20px;
    margin-left: 660px;
    margin-top: 30px;
}

#book_movies{
    background-color: rgb(23, 155, 111);
    color: white;
    font-size: 20px;
    margin-left: 660px;
    margin-top: 30px;
}
#amount{
    font-size: 20px;
    background-color: rgb(107, 230, 230);
    margin-left: 600px;
    margin-top: 30px;
}
body{
    background-color: bisque;
}